.app {
    .link {
        color: inherit;
        text-decoration: none;
    }
}


$small: 640px;
$medium: 768px;
$large: 1024px;
$extraLarge: 1280px;
@media screen and (max-width: $small) {

}

@media screen and (max-width: $medium) {

}

@media screen and (max-width: $large) {

}

@media screen and (max-width: $extraLarge) {

}

